.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
htmlcov/
.env
.idea/
.vscode/
dist/
build/
*.egg-info/
.data/
tmp/
# >>> Comet managed project state >>>
!/.comet/
/.comet/*
!/.comet/config.yaml
# <<< Comet managed project state <<<
